<div class="user_info">
  <div id="perfil" class="wrapper-perfil">
    <div id="primary">
      <img src="../../assets/images/logo.png">
      <div id="nombre">
        <h2 style="text-align: left;" >{{this.usuario.nombre | capitalize}}</h2>
        <p>{{this.usuario.apodo_aldeano | capitalize}}</p>
      </div>
    </div>
    <div class="bckg">
      <div id="secondary">
        <div id="flex">
          <div class="v-center">
            <span><b>Isla: </b>{{this.usuario.isla | capitalize}}</span> <!-- poner imagen hemisferio-->
            <img src="../../assets/images/hemisferio-norte.png" class="icono" #hemisferio>
          </div>
          <div class="v-center">
            <span><b>Fruta: </b>{{this.usuario.fruta | capitalize}}</span>
            <img src="../../assets/images/logo.png" class="icono" #fruta>
          </div>
        </div>
        <hr>
        <div class="v-center">
          <span><b>Cumpleaños: </b>{{mesToString(this.usuario.cumpleanyos)}}, {{signoZodiaco(this.usuario.cumpleanyos)}}</span>
          <img src="../../assets/images/logo.png" class="icono" #zodiaco>
        </div>
        <hr>
        <span><b>ID Switch: </b>{{this.usuario.id_switch}}</span>
        <hr>
        <span><b>ID Sueño: </b>{{this.usuario.id_suenyo}}</span>
      </div>
    </div>
  </div>
  <div id="tools" class="wrapper-perfil">
    <h2>Mis tareas</h2>
    <app-tareas></app-tareas>
    <h2>Visitantes Semanales</h2>
    <app-visitasemanal></app-visitasemanal>
  </div>
</div>
<div id="misvecinos"  class="wrapper-perfil">
  <h2>Mis vecinos</h2>
  <app-misvecinos></app-misvecinos>
</div>
<div id="coleccionesp" class="wrapper-perfil">
  <app-coleccionesp></app-coleccionesp>
</div>
