<div class="visitasContainer">
    <div class="oscuro" (click)="hide=true" [style.visibility]="hide ? 'hidden': 'visible'"></div>
    <div class="panel" [style.visibility]="hide ? 'hidden': 'visible'">Hola buenos dias soy un panel</div>
    <div class="cabeceraA">
        <div class="cabeceraB first">L</div>
        <div class="cabeceraB">M</div>
        <div class="cabeceraB">X</div>
        <div class="cabeceraB">J</div>
        <div class="cabeceraB">V</div>
        <div class="cabeceraB">S</div>
        <div class="cabeceraB last">D</div>
    </div>
    <div class="pasado">
        <div class="visita first">
            <ng-container *ngIf="lpa==null">
                <div (click)="vacio($event,'lpa')">
                    <div class="circulo">+</div>
                </div>
            </ng-container>
            <ng-container *ngIf="lpa!=null">
                <div class="elemento">
                    <img class="image" src="../../../assets/images/{{lpa | lowercase}}.jpg">
                    {{lpa | titlecase}}
                </div>
            </ng-container>
        </div>
        <div class="visita">
            <ng-container *ngIf="mpa==null">
                <div (click)="vacio($event,'mpa')">
                    <div class="circulo">+</div>
                </div>
            </ng-container>
            <ng-container *ngIf="mpa!=null">No es null</ng-container>
        </div>
        <div class="visita">
            <ng-container *ngIf="xpa==null">
                <div (click)="vacio($event,'xpa')">
                    <div class="circulo">+</div>
                </div>
            </ng-container>
            <ng-container *ngIf="xpa!=null">No es null</ng-container>
        </div>
        <div class="visita">
            <ng-container *ngIf="jpa==null">
                <div (click)="vacio($event,'jpa')">
                    <div class="circulo">+</div>
                </div>
            </ng-container>
            <ng-container *ngIf="jpa!=null">No es null</ng-container>
        </div>
        <div class="visita">
            <ng-container *ngIf="vpa==null">
                <div (click)="vacio($event,'vpa')">
                    <div class="circulo">+</div>
                </div>
            </ng-container>
            <ng-container *ngIf="vpa!=null">No es null</ng-container>
        </div>
        <div class="visita">
            <ng-container *ngIf="spa==null">
                <div (click)="vacio($event,'spa')">
                    <div class="circulo">+</div>
                </div>
            </ng-container>
            <ng-container *ngIf="spa!=null">No es null</ng-container>
        </div>
        <div class="visita last">
            <ng-container *ngIf="dpa==null">
                <div (click)="vacio($event,'dpa')">
                    <div class="circulo">+</div>
                </div>
            </ng-container>
            <ng-container *ngIf="dpa!=null">No es null</ng-container>
        </div>
    </div>
    Semana actual
    <div class="presente">Hola</div>
</div>