<div class="user_info">
  <div id="perfil" class="wrapper-perfil">
    <button class="editar boton-imagen editar-azul" (click)="!modoEdicion ? toggleEdicion() : enviar(userForm.value)" #botonEdit ></button>
    <div [hidden]="modoEdicion" >
      <div id="primary" class="flex-column-centered">
        <h2>{{this.usuario.nombre | capitalize}}</h2>
        <p style="margin: 1vw 0;">{{this.usuario.apodo_aldeano | capitalize}}</p>
        <hr class="passport-hr">
      </div>
      <div class="bckg" #fondo>
        <div id="secondary">
          <div id="flex">
            <div class="v-center">
              <span><b>Isla: </b>{{this.usuario.isla | capitalize}}</span>
              <img src="../../assets/images/hemisferio-norte.png" class="icono" #hemisferio>
            </div>
            <div class="v-center">
              <span><b>Fruta: </b>{{this.usuario.fruta | capitalize}}</span>
              <img src="../../assets/images/logo.png" class="icono" #fruta>
            </div>
          </div>
          <hr>
          <div class="v-center">
            <span><b>Cumpleaños: </b>{{mesToString(this.usuario.cumpleanyos)}}, {{signoZodiaco(this.usuario.cumpleanyos)}}</span>
            <img src="../../assets/images/logo.png" class="icono" #zodiaco>
          </div>
          <hr>
          <span><b>ID Switch: </b>{{this.usuario.id_switch}}</span>
          <hr>
          <span><b>ID Sueño: </b>{{this.usuario.id_suenyo}}</span>
        </div>
      </div>
    </div>

    <div [hidden]="!modoEdicion" >
      <form [formGroup]="userForm">
        <div id="primary">
          <div id="nombre" class="flex-column-centered">
            <input class="input-resized" formControlName="nombre" type="text">
            <div *ngIf="userForm.hasError('blank')">El nombre no puede estar vacío</div>
            <input class="input-resized" formControlName="apodo_aldeano" type="text" placeholder="Apodo">
            <hr class="passport-hr">
          </div>
        </div>
        <div class="bckg" #fondoEdit>
          <div id="secondary">
            <div id="flex" style="display: block;">
              <div class="v-center">
                <input class="input-resized" formControlName="isla" type="text">
                <input formControlName="hemisferio" type="radio" value="NORTE">
                <img src="../../assets/images/hemisferio-norte.png" class="icono" #hemisferio>
                <input formControlName="hemisferio" type="radio" value="SUR">
                <img src="../../assets/images/hemisferio-sur.png" class="icono" #hemisferio>
              </div>
              <br>
              <div class="v-center">
                <input formControlName="fruta" type="radio" value="NARANJA">
                <img src="../../assets/images/naranja.png" class="icono">
                <input formControlName="fruta" type="radio" value="MANZANA">
                <img src="../../assets/images/manzana.png" class="icono">
                <input formControlName="fruta" type="radio" value="PERA">
                <img src="../../assets/images/pera.png" class="icono">
                <input formControlName="fruta" type="radio" value="MELOCOTON">
                <img src="../../assets/images/melocoton.png" class="icono">
                <input formControlName="fruta" type="radio" value="CEREZA">
                <img src="../../assets/images/cereza.png" class="icono">
              </div>
            </div>
            <hr>
            <div class="v-center">
              <input class="input-resized" formControlName="cumpleanyos" type="date">
            </div>
            <hr>
            <input class="input-resized" formControlName="id_switch" type="text" placeholder="SW-1234-5678-9012">
            <hr>
            <input class="input-resized" formControlName="id_suenyo" type="text" placeholder="DA-1234-5678-9012">
          </div>
        </div>
      </form>
    </div>

  </div>
  <div id="tools" class="wrapper-perfil">
    <h2>Mis tareas</h2>
    <app-tareas></app-tareas>
    <h2>Visitantes Semanales</h2>
    <app-visitasemanal></app-visitasemanal>
  </div>
</div>
<div class="wrapper-perfil shadow">
  <h2>Mis vecinos</h2>
  <app-misvecinos></app-misvecinos>
</div>
<hr id="hr-azul">
<div class="wrapper-perfil">
  <h2>Colecciones Especiales</h2>
  <app-coleccionesp></app-coleccionesp>
  <h2>Mis album de fotos</h2>
  <app-album></app-album>
</div>
