:host > div{
  height: fit-content;
  min-height: 30vw;
}

.user_info {
  background-image: url("../../assets/images/casa-playa-blur.png");
  padding: 7% 0 4vw 0;
  display: grid;
  grid-template-columns: 30vw auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper-perfil {
  padding: 2vw;
  background-color: rgba(247, 243, 232);
}

h2{
  font-size: 1.6vw;
  text-align: center;
}

p{
  font-size: 1vw;
}

span {
  font-size: 1vw;
}

#perfil{
  background-color: rgba(247, 243, 232);
  border-radius: 0 30px 30px 0;
  border-color: #d1dbb8;
  border-style: solid;
  border-width: 0.5vw;
  box-shadow: 0px 0px 10px 1px rgb(23 23 23 / 55%);
  height: 36.3vw
}

.bckg{
  height: 28vw;
  padding: 0.3vw 0;
  margin-top: 2vw;
  border-radius: 20px;
  position: relative;
  display: flex;
  background-size: cover;
}

.bckg-img-cyan{
  background-image: url("../../assets/images/patron-hojas-cyan.png");
}

.bckg-img-naranja{
  background-image: url("../../assets/images/patron-hojas-naranja.png");
}

.bckg-img-coral{
  background-image: url("../../assets/images/patron-hojas-coral.png");
}

.bckg-img-marron{
  background-image: url("../../assets/images/patron-hojas-marron.png");
}

.bckg-img-basico{
  background-image: url("../../assets/images/patron-hojas-basico.png");
}

.bckg:before{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(247, 243, 232, 0.75);
}

#primary > *{
  margin: 0;
}

.passport-hr{
  width: 80%;
  border-color: #d1dbb8;
  background-color: #d1dbb8;
  border-style: solid;
  border-radius: 20px;
  margin: 0;
}

#nombre {
  margin: 0.5vw 0 0 2vw;
}

#nombre > input {
  margin: 0 0 1vw 0;
}

.img-radio{
  width: 2vw;
  height: 2vw;
}

#secondary {
  padding: 1rem;
  width: 100%;
  position: relative;
}

#flex, #flex > div{
  display: flex;
}

#flex {
  justify-content: space-between;
}

#secondary > hr {
  margin: 1vw 0;
  border-color: rgba(247, 243, 232);
  background-color: rgba(247, 243, 232);
  border-style: solid;
  border-radius: 10px;
  border-width: 1.2px;
}

.icono {
  width: 1.5vw;
  height: 1.5vw;
  margin-left: 0.5vw;
}

#tools{
  margin: 0 2vw;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 1px rgb(23 23 23 / 55%);
}

#tools > h2 {
  text-align: center;
}

.v-center{
  display: flex;
  align-items: center;
}

.editar{
  left: 26vw;
  top: 9vw;
}

.input-resized{
  width: 12vw;
  height: 1.5vw;
  font-size: 1vw;
}
