
<div>
  <ng-container *ngFor="let tarea of data[0]">

    <!-- Tarea done -->
    <ng-container *ngIf="tarea.hecha == true; else todo">
      <button (click)="!modoEdicion ? actualizaTarea(tarea) : abreMenu($event, tarea)" class="tarea done"></button>
    </ng-container>

    <!-- Tarea todo -->
    <ng-template #todo>
      <button (click)="!modoEdicion ? actualizaTarea(tarea) : abreMenu($event, tarea)" class="tarea todo"></button>
    </ng-template>

  </ng-container>

  <!-- Menu tarea-->
  <app-tarea-menu [menu]="this.tareaMenu" (borrar)="borrarTarea($event)" (clickOutside)="cierraMenu()"> </app-tarea-menu> <!-- (clickOutside)="cierraMenu()"-->

  <!-- Boton crear -->
  <ng-container *ngIf="modoEdicion && data[0].length < 10">
    <button (click)="crearTarea()" class="tarea" id="añadir">+</button>
  </ng-container>

  <!-- Boton modo edicion -->
  <button id="editar" (click)="activaEdicion()">{{modoEdicion}}</button>

</div>


