
<div>
  <button (click)="b1 = !b1" class="tarea" [id]="cambiaId(b1)"></button>
  <button (click)="b2 = !b2" class="tarea" [id]="cambiaId(b2)"></button>
  <button (click)="b3 = !b3" class="tarea" [id]="cambiaId(b3)"></button>
  <button (click)="b4 = !b4" class="tarea" [id]="cambiaId(b4)"></button>
  <button (click)="b5 = !b5" class="tarea" [id]="cambiaId(b5)"></button>
  <button (click)="b6 = !b6" class="tarea" [id]="cambiaId(b6)"></button>
  <button (click)="b7 = !b7" class="tarea" [id]="cambiaId(b7)"></button>
  <button (click)="b8 = !b8" class="tarea" [id]="cambiaId(b8)"></button>
  <button (click)="b9 = !b9" class="tarea" [id]="cambiaId(b9)"></button>
  <button (click)="b10 = !b10" class="tarea" [id]="cambiaId(b10)"></button>
</div>

<!-- Poner hidden para que el max de tareas sea 10-->
