div{
  justify-content: center;
  display: flex;
}

.todo{
  background-color: #d9f6f6;
  border-color: #ade6e7;
}

.done{
  background-color: rgb(203, 244, 196);
  border-color: rgb(149, 229, 155);
}

#añadir{
  background-color: #ffefc4;
  border-color: #edd9a3;
}

.editar{
  right: 3.5vw;
  top: 11.5vw;
}
