span{
  font-size: 1.4vw;
}

h2, span{
  text-align: center;
}

.content-wrapper-bot{
  background-color: pink;
}

.content-wrapper-top{
  position: relative;
}

.pag-menu{
  width: 100%;
  position: relative;
}

.grid-w-gap{
  grid-template-columns: repeat(5, 1fr);
}

.grid-item-wrap{
  background-color: #fdd2f4;
  position: relative;
  box-shadow: 0px 0px 15px -5px rgb(23 23 23 / 55%);
}

.editar{
  right: 1vw;
  top: 1vw;
}

.b-variacion{
  border-radius: 50%;
  margin: 0 0.5vw;
  padding: 0;
  border: none;
  cursor: pointer;
}

.b-darkGreen{
  background-color: rgb(157 228 163);
}

.b-darkBlue{
  background-color: #ade6e7;
}

.b-darkPink{
  background-color: rgb(228 157 203);
}

.b-darkPurple{
  background-color: #c380ec;
}

.boton-circular{
  width: 2vw;
  height: 2vw;
  padding: 0;
}

.b-pag{
  border-radius: 5px;
  border-style: none;
  margin: 0 0.1vw;
  cursor: pointer;
}

.b-pag:hover{
  background-color: rgb(157 228 163);
}

.bg-scroll-1{
  background-image: url("../../assets/images/bg-0.svg");
  background-size: 200px;
  height: 200%;
  width: 200%;
  position: fixed;
  top: -200px;
  left: -300px;
  animation: scroll1 20s linear infinite;
}

.bg-scroll-2{
  background-image: url("../../assets/images/bg-1.svg");
  background-size: 200px;
  height: 200%;
  width: 200%;
  position: fixed;
  top: -200px;
  left: -500px;
  animation: scroll2 20s linear infinite;
}

@keyframes scroll1 {
  0% {
      transform: rotate(15deg) translate(0, 0);
  }
  100% {
      transform: rotate(15deg) translate(-200px, -200px);
  }
}

@keyframes scroll2 {
  0% {
      transform: rotate(15deg) translate(0, 0);
  }
  100% {
      transform: rotate(15deg) translate(200px, 200px);
  }
}
