<div class="menu-botones flex-centered">
  <ng-container *ngFor="let lista of colecciones">
    <div class="flex-column-centered">
      <button class="boton-circular" id="{{lista}}" (click)="setActiveCollection(lista)" [ngStyle]="lista == this.activeCollection ? selected : base" ></button>
      <span>{{lista}}</span>
    </div>
  </ng-container>
</div>


<div class="item-list-wrap flex-centered">
  <div class="boton-pag flex-column-centered" style="visibility: hidden;" #atras>
    <button class="boton-pag boton-circular b-verde" (click)="paginacionNavigation('atras')" > < </button>
  </div>

  <div class="paginacion-content">
    <ng-container *ngFor="let item of inventario | paginacion:page_number">
      <div class="item-container">
        <div class="check-container">
          <button [style]="{'background-image': checkTieneItem(listaUsuario.includes(item))}" class="boton-imagen editar" (click)="toggleCheck(item)"></button>
        </div>
        <div class="item flex-column-centered">
          <img src="http://acnhapi.com/v1/images/furniture/{{item}}">
          <span>{{item}}</span>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="boton-pag flex-column-centered" style="visibility: visible;" #alante>
    <button class="boton-pag boton-circular b-verde" (click)="paginacionNavigation('alante')"> > </button>
  </div>
</div>
<span>Página {{page_number}}</span>
