<div class="menu-botones flex-centered">
  <ng-container *ngFor="let lista of colecciones | keyvalue">
    <div class="flex-column-centered">
      <button class="boton-circular" id="{{lista.key}}" (click)="setActiveCollection(lista.key)" [ngStyle]="lista.key == this.activeCollection ? selected : base" ></button>
      <span>{{lista.key}}</span>
    </div>
  </ng-container>
</div>


<div class="item-list-wrap flex-centered">
  <div class="boton-pag flex-column-centered" style="visibility: hidden;" #atras>
    <button class="boton-pag boton-circular b-verde" (click)="paginacionNavigation('atras')" > < </button>
  </div>

  <div class="paginacion-content">
    <ng-container *ngFor="let item of listaObjetos | paginacion:page_number">
      <div class="item-container">
        <div class="check-container">
          <button [style]="{'background-image': checkTieneItem(listaUsuario.includes(item.name))}" class="boton-imagen editar" (click)="toggleCheck(item)"></button>
        </div>
        <div class="item flex-column-centered">
          <img src="{{item.image}}">
          <span>{{item.translations.spanish | capitalize}}</span>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="boton-pag flex-column-centered" style="visibility: visible;" #alante>
    <button class="boton-pag boton-circular b-verde" (click)="paginacionNavigation('alante')"> > </button>
  </div>
</div>
<span>Página {{page_number}}</span>
