:host{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boton-pag{
  width: 3vw;
  height: 3vw;
}

.paginacion-content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1vw;
}

.item-list-wrap{
  width: 100%;
  margin: 1vw 0;
}

.item-list-wrap > * {
  margin: 0;
}

.menu-botones{
  flex-wrap: wrap;
  align-items: center;
}

.menu-botones > div {
  margin: 1vw 1vw;
  flex-basis: 13%;
}

.boton-circular:hover{
  border-width: 0.4vw;
}

.boton-circular{
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 36.5% 38%;
}

span{
  font-size: 1.2vw;
}

.item-container {
  background-color:#ffefc4;
  display: flex;
  flex-direction: column;
  padding: 1.5vw;
  border-radius: 20px;
}

.en-lista{
  background-color: darkcyan;
}

.item{
  text-align: center;
}

.item > img {
  width: 100%;
}

.check-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.boton-imagen{
  width: 1.5vw;
  height: 1.5vw;
}

#DIY{
  background-color: #ffba6b;
  border-color: #c95c0c;
  background-image: url("../../../assets/images/pera.png");
}

#Estacional{
  background-color: white;
  border-color: #abe7b0;
  background-image: url("../../../assets/images/manzana.png");
}

#Estela{
  background-color: #5f1e1e;
  border-color: #eb6363;
  background-image: url("../../../assets/images/estela.png");
}

#Caza{
  background-color: #463b3d;
  border-color: #9b1f1f;
  background-image: url("../../../assets/images/kamilo.png");
}

#Pesca{
  background-color: #d1d065;
  border-color: #8f921c;
  background-image: url("../../../assets/images/cj.png");
}

#Gulliver{
  background-color: #607ce7;
  border-color: #0352a6;
  background-image: url("../../../assets/images/gulliver.png");
}

#Gullivarrr{
  background-color: #770b1d;
  border-color: #d2c402;
  background-image: url("../../../assets/images/gullivarrr.png");
}

#Coti{
  background-color: #f2d527;
  border-color: #2653ff;
  background-image: url("../../../assets/images/logo.png");
}

#Soponcio{
  background-color: #e09416;
  border-color: #5810e1;
  background-image: url("../../../assets/images/logo.png");
}

#Copito{
  background-color: #e6e6e6;
  border-color: #f95b0d;
  background-image: url("../../../assets/images/logo.png");
}

#Renato{
  background-color: #b50202;
  border-color: #cecece;
  background-image: url("../../../assets/images/logo.png");
}

#Conga{
  background-color: #0d8bac;
  border-color: #5fca1e;
  background-image: url("../../../assets/images/logo.png");
}
