<div class="user_info">
  <div id="perfil" class="wrapper-perfil">
    <button class="editar boton-imagen" [class]="modoEdicion ? 'check-verde' : 'b-scale-xl editar-azul'" (click)="!modoEdicion ? toggleEdicion() : enviar(userForm.value)" #botonEdit ></button>
    <div [hidden]="modoEdicion" >
      <div id="primary" class="flex-column-centered">
        <h2>{{this.usuario.nombre | capitalize}}</h2>
        <p style="margin: 1vw 0;">{{this.usuario.apodo_aldeano | capitalize}}</p>
        <hr class="passport-hr">
      </div>
      <div class="bckg" #fondo>
        <div id="secondary">
          <div id="flex">
            <div class="v-center">
              <span><b>Isla: </b>{{this.usuario.isla | capitalize}}</span>
              <img src="../../assets/images/hemisferio-norte.png" class="icono" #hemisferio>
            </div>
            <div class="v-center">
              <span><b>Fruta: </b>{{this.usuario.fruta | capitalize}}</span>
              <img src="../../assets/images/logo-transparente.png" class="icono" #fruta>
            </div>
          </div>
          <hr>
          <div class="v-center">
            <span><b>Cumpleaños: </b>{{mesToString(this.usuario.cumpleanyos)}}, {{signoZodiaco(this.usuario.cumpleanyos)}}</span>
            <img src="../../assets/images/logo-transparente.png" class="icono" #zodiaco>
          </div>
          <hr>
          <span><b>ID Switch: </b>{{this.usuario.id_switch}}</span>
        </div>
      </div>
    </div>

    <div [hidden]="!modoEdicion" >
      <form [formGroup]="userForm">
        <div id="primary">
          <div id="nombre" class="flex-column-centered">
            <input class="input-resized text-input" formControlName="nombre" type="text">
            <div *ngIf="userForm.hasError('blank')">El nombre no puede estar vacío</div>
            <input class="input-resized text-input" formControlName="apodo_aldeano" type="text" placeholder="Apodo">
            <hr class="passport-hr">
          </div>
        </div>
        <div class="bckg" #fondoEdit [style]="modoEdicion ? 'height: 26vw;' : ''">
          <div id="secondary">
            <div id="flex" style="display: block;">
              <div class="v-center" style="justify-content: space-between;">
                <input class="input-resized text-input" formControlName="isla" type="text">

                <div style="width: fit-content">
                  <input formControlName="hemisferio" class="radio-hidden" type="radio" value="NORTE">
                  <img src="../../assets/images/hemisferio-norte.png" (click)="cambiaHemisferio('NORTE')" [class]="userForm.value['hemisferio'] == 'NORTE' ? 'img-radio img-radio-checked' : 'img-radio'" #hemisferio>
                  <input formControlName="hemisferio" class="radio-hidden" type="radio" value="SUR">
                  <img src="../../assets/images/hemisferio-sur.png" (click)="cambiaHemisferio('SUR')" [class]="userForm.value['hemisferio'] == 'SUR' ? 'img-radio img-radio-checked' : 'img-radio'" #hemisferio>
                </div>

              </div>
              <br>
              <div class="v-center" style="justify-content: space-between;">
                <input formControlName="fruta" class="radio-hidden" type="radio" value="NARANJA">
                <img src="../../assets/images/naranja.png" (click)="cambiaFruta('NARANJA')" [class]="userForm.value['fruta'] == 'NARANJA' ? 'img-radio img-radio-checked' : 'img-radio'">
                <input formControlName="fruta" class="radio-hidden" type="radio" value="MANZANA">
                <img src="../../assets/images/manzana.png" (click)="cambiaFruta('MANZANA')" [class]="userForm.value['fruta'] == 'MANZANA' ? 'img-radio img-radio-checked' : 'img-radio'">
                <input formControlName="fruta" class="radio-hidden" type="radio" value="PERA">
                <img src="../../assets/images/pera.png" (click)="cambiaFruta('PERA')" [class]="userForm.value['fruta'] == 'PERA' ? 'img-radio img-radio-checked' : 'img-radio'">
                <input formControlName="fruta" class="radio-hidden" type="radio" value="MELOCOTON">
                <img src="../../assets/images/melocoton.png" (click)="cambiaFruta('MELOCOTON')" [class]="userForm.value['fruta'] == 'MELOCOTON' ? 'img-radio img-radio-checked' : 'img-radio'">
                <input formControlName="fruta" class="radio-hidden" type="radio" value="CEREZA">
                <img src="../../assets/images/cereza.png" (click)="cambiaFruta('CEREZA')" [class]="userForm.value['fruta'] == 'CEREZA' ? 'img-radio img-radio-checked' : 'img-radio'">
              </div>
            </div>
            <hr>
            <div class="v-center" style="justify-content: center;">
              <input class="input-resized text-input" formControlName="cumpleanyos" type="date">
            </div>
            <hr>
            <div class="v-center" style="justify-content: center;">
              <input class="input-resized text-input" formControlName="id_switch" type="text" placeholder="SW-1234-5678-9012">
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
  <div id="tools" class="wrapper-perfil">
    <h2>Mis tareas</h2>
    <app-tareas></app-tareas>
    <h2>Visitantes Semanales</h2>
    <app-visitasemanal></app-visitasemanal>
  </div>
</div>
<div class="wrapper-perfil shadow">
  <h2>Mis vecinos</h2>
  <app-misvecinos></app-misvecinos>
</div>
<hr id="hr-azul">
<div class="wrapper-perfil">
  <h2>Colecciones Especiales</h2>
  <app-coleccionesp></app-coleccionesp>
</div>
<hr id="hr-azul">
<div class="wrapper-perfil">
  <h2>Mi álbum de fotos</h2>
  <app-album></app-album>
</div>
