<div class="container-album">
    <div class="container-main-photo">
        <ng-container *ngIf="mostrado!=null && mostrado!=''">
            <img src="{{mostrado}}" class="full-image">
        </ng-container>
        <ng-container *ngIf="mostrado==null || mostrado==''">
            <p>Guarda tus fotos para poder acceder a ellas en cualquier momento</p>
        </ng-container>
    </div>
    <div class="container-photos" [style.background-color]="borradoImagen?'#ffb68a':'#f7ffa5'">
        <ng-container *ngFor="let item of imagenes">
            <div class="partial-image-container"><img src="{{item}}" style="cursor: pointer;" (click)="muestra(item)" class="mini-full-image"></div>
        </ng-container>
        <div class="partial-image-container" style="padding-top: 2vw;">
            <button (click)="abreModalImagen()" class="b-bold boton-circular b-amarillo" style="width: 3vw; height: 3vw;">+</button>
        </div>
        <ng-container *ngIf="imagenes.length!=0">
            <div class="partial-image-container" style="padding-top: 2vw;">
                <button [style.background-color]="borradoImagen?'#ff6767':'#ffefc4'" (click)="activaBorradoImagen()" class="b-borrado-imagen b-bold boton-circular b-amarillo">{{borradoImagen?'Desactiva el borrado de imagenes':'Activa el borrado de imagenes'}}</button>
            </div>
        </ng-container>
    </div>
</div>
<div class="fondo" [style.display]="agregaImagen?'block':'none'" (click)="cierraModalImagen()"></div>
<div class="container-panel" id="imageModal" (click)="cierraModalImagen()" [style.display]="agregaImagen?'flex':'none'" style="text-align: center;">
    <div class="panel" (click)="paraPropagacion($event)">
        <h2>Agregar imagen</h2>
        <label for="inputUrlImagen" style="padding-right: 1.5vw;">Url imagen</label>
        <input id="inputUrlImagen" style="font-size: 1.5vw;" type="text">
        <br>
        <ng-container *ngIf="errorImageForm!=''">
            <div class="error">{{errorImageForm}}</div>
        </ng-container>
        <button (click)="enviarDatos()" style="margin-top: 1vw;">Guardar</button>
    </div>
</div>