<button id="editar" (click)="activaEdicion()">{{modoEdicion}}</button>

<div id="vecino-grid">
  <div id="vecino-show" #show>
    <img src="../../../assets/images/logo.png" id="vecino-img">
    <h3>Nombre: {{this.vecinoShow.vecino_id}}</h3>
    <div>
      <p>Cumpleaños: 1 de Enero</p>
      <p>Personalidad: Dulce</p>
      <p>Especie: Pingüino</p>
      <p>Género: Femenino</p>
    </div>
  </div>
  <ng-container *ngFor="let vecino of data[0]">
    <div class="contenedor-vecino" (mouseenter)="toggleVecino(vecino)" >
      <ng-container *ngIf="vecino != null; else vacio">
        <img src="../../../assets/images/logo.png" class="icono" (click)="modoEdicion ? abreMenu($event, vecino, false) : '' "> <!-- icono -->
        <div class="wrap-vecino">
          <span>{{vecino.vecino_id}}</span>
          <button (click)="modoEdicion ? abreMenu($event, vecino, true) : '' ">
            <span>{{vecino.amistad}}</span>
          </button>
        </div>
      </ng-container>

      <ng-template #vacio>

        <ng-container *ngIf="modoEdicion; else placeholder" >
          <button class="boton-circular" id="añadir" (click)="abreMenu($event, null, false)">+</button>
        </ng-container>

        <ng-template #placeholder>
          <img src="../../../assets/images/logo.png" class="icono">
        </ng-template>

      </ng-template>

    </div>
  </ng-container>
</div>

<app-vecino-menu [vecinoMenu]="this.vecinoMenu" (crear)="crearVecino($event)" (actualizarVecino)="actualizaVecino($event)" (actualizarAmistad)="actualizaAmistadVecino($event)" (borrar)="borraVecino($event)" (clickOutside)="cierraMenu(null)"></app-vecino-menu>

<div>
  <p>¿Quién será el próximo en irse?</p>
</div>
