h3{
  font-size: 1.3vw;
}

p, span, li{
  font-size: 1.2vw;
}

#vecino-grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1vw;
}

#vecino-show{
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #ffefc4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  visibility: hidden;
  border-radius: 20px;
}

#vecino-img{
  width: auto;
  height: 15vw;
}

.contenedor-vecino{
  background-color: #CBF4C4;
  margin: 1vw;
  padding: 1.5vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vw;
}

.icono{
  width: 8vw;
  height: auto;
}

.wrap-vecino{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.amistad{
  background-image: url("../../../assets/images/corazon.png");
  filter: drop-shadow(2px -1px 0 #F7F3E8) drop-shadow(-2px 0px 0 #F7F3E8) drop-shadow(1px 2px 0 #F7F3E8);
}

#editar{
  right: 2vw;
  top: 45vw;
}

#moveout-info{
  background-color: #ffefc4;
  padding: 2vw;
  margin-bottom: 2vw;
  border-radius: 30px;
}

#button-wrap{
  display: flex;
  flex-direction: column;
}

#close-menu{
  left: 92vw;
  top: 59vw;
  width: 2vw;
  height: 2vw;
  padding: 0;
}

.porcentaje{
  width: 5vw;
  margin: 1vw auto;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  font-size: 1.2vw;
  justify-content: center;
  padding: 0.5vw;
  text-align: center;
}

.exclude-button{
  width: 2vw;
  height: 2vw;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
}

