<button id="editar" (click)="activaEdicion()">{{modoEdicion}}</button>

<div [hidden]="!porcentaje" id="moveout-info" >
  <div>
    <p>La amistad funciona tal que asi</p>
    <ul>
      <li>Nivel 1: aaaaa</li>
      <li>Nivel 2: bbbbbb</li>
      <li>Nivel 3: cccccc</li>
      <li>Nivel 4: dddddd</li>
      <li>Nivel 5: rrrrrr</li>
      <li>Nivel 6: ssssss</li>
    </ul>
    <p> Para excluir a un vecino pulsa el boton Ex</p>
  </div>
  <button (click)="calculaPorcentaje()">Calcular porcentaje</button>
</div>

<div id="vecino-grid">
  <div id="vecino-show" #show>
    <img src="../../../assets/images/logo.png" id="vecino-img">
    <h3>Nombre: {{this.vecinoShow.vecino_id}}</h3>
    <div>
      <p>Cumpleaños: 1 de Enero</p>
      <p>Personalidad: Dulce</p>
      <p>Especie: Pingüino</p>
      <p>Género: Femenino</p>
    </div>
  </div>

  <ng-container *ngFor="let vecino of data[0]">
    <ng-container *ngIf="vecino != null; else vacio">
      <div>
        <div class="contenedor-vecino" (mouseenter)="toggleVecino(vecino)">
          <img src="../../../assets/images/logo.png" class="icono" (click)="modoEdicion ? abreMenu($event, vecino, false) : '' "> <!-- icono -->
          <div class="wrap-vecino">
            <button [hidden]="!porcentaje">
              Ex
            </button>
            <span>{{vecino.vecino_id}}</span>
            <button (click)="modoEdicion ? abreMenu($event, vecino, true) : '' ">
              <span>{{vecino.amistad}}</span>
            </button>
          </div>
        </div>
        <p [hidden]="!porcentaje">%</p>
      </div>
    </ng-container>

    <ng-template #vacio>
      <div class="contenedor-vecino">
        <ng-container *ngIf="modoEdicion; else placeholder" >
          <button class="boton-circular" id="añadir" (click)="abreMenu($event, null, false)">+</button>
        </ng-container>

        <ng-template #placeholder>
          <img src="../../../assets/images/logo.png" class="icono">
        </ng-template>
      </div>
    </ng-template>
  </ng-container>
</div>

<app-vecino-menu [vecinoMenu]="this.vecinoMenu" (crear)="crearVecino($event)" (actualizarVecino)="actualizaVecino($event)" (actualizarAmistad)="actualizaAmistadVecino($event)" (borrar)="borraVecino($event)" (clickOutside)="cierraMenu(null)"></app-vecino-menu>

<div>
  <button (click)="toggleMoveout()">¿Quién será el próximo en irse?</button>
</div>
