
  <div class="dv-inicio" id="dv-header">
    <div id="portada-wrap">
      <div>
        <img src="../../assets/images/logo.png" alt="logo"/>
      </div>
      <div id="portada-item2">
        <h1>My Crossing</h1>
        <h3>¡Lleva al día el progreso de tu isla!</h3>
      </div>
      <div id="portada-item3">
        <button *ngIf="!verification.logged" routerLink="/registro">Empieza ya</button>
      </div>
      <br>
    </div>
  </div>

  <div class="dv-inicio" id="dv-0">
    <p id="titulo">¡A cazar se ha dicho!</p>
    <div class="grid-4">
      <ng-container [ngSwitch]="imagen">
        <img class="imagen-inicio" *ngSwitchDefault src="../../assets/images/cj-pesca.png" alt="pesca"/>
        <img class="imagen-inicio" *ngSwitchCase="1" src="../../assets/images/cj-pesca.png" alt="pesca"/>
        <img class="imagen-inicio" *ngSwitchCase="2" src="../../assets/images/kamilo-caza.png" alt="caza"/>
        <img class="imagen-inicio" *ngSwitchCase="3" src="../../assets/images/buceo.png" alt="buceo"/>
      </ng-container>
      <button id="peces" (mouseover)="imagen = 1">Peces</button>
      <button id="bichos" (mouseover)="imagen = 2">Bichos</button>
      <button id="criaturas-marinas" (mouseover)="imagen = 3">Criaturas marinas</button>
    </div>
  </div>
  <hr id="hr-azul">
  <div class="dv-inicio">
    <p id="titulo">¡Completa el Museo!</p>
    <div class="grid-3">
      <button id="fosiles" routerLink="/catalogo-fosiles">Fosiles</button>
      <span>imagen</span>
      <button id="arte">Arte</button>
    </div>
  </div>
  <hr id="hr-azul">
  <div class="dv-inicio">
    <p id="titulo">¡Ve de compras!</p>
    <div class="grid-4">
      <span>imagen</span>
      <button id="muebles" routerLink="/catalogo-muebles">Muebles</button>
      <button id="ropa" routerLink="/catalogo-ropa">Ropa</button>
      <span>imagen</span>
    </div>
  </div>
  <hr id="hr-azul">
  <div class="dv-inicio">
    <p id="titulo">¡Una isla llena de vida!</p>
    <div class="grid-3">
      <span>imagen</span>
      <button id="vecinos">Vecinos</button>
      <button id="calendario">Calendario</button>
    </div>
  </div>





