span{
    font-size: 1.4vw;
  }

  h2, span{
    text-align: center;
  }

  .content-wrapper-bot{
    background-color: #b39d74;
  }

  .pag-menu{
    width: 100%;
    position: relative;
    margin-top: 1vw;
  }

  .grid-w-gap{
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-item-wrap{
    background-color: #fff8c4;
    position: relative;
    box-shadow: 0px 0px 15px -5px rgb(23 23 23 / 55%);
    transition: 0.3s;
  }

  .editar{
    right: 1vw;
    top: 1vw;
  }

  .b-variacion{
    border-radius: 50%;
    margin: 0 0.5vw;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  #wrap-filtros{
    padding-bottom: 1vw;
    display:flex;
    margin: auto;
    background-color: #fff8c4;
    border-radius: 50px;
    box-shadow: 0px 0px 15px -5px rgb(23 23 23 / 55%);
  }

  .b-darkGreen{
    background-color: rgb(157 228 163);
    transform: scale(1.1);
    font-weight: bold;
  }

  .b-darkBlue{
    background-color: #ade6e7;
  }

  .b-lightGreen{
    background-color: #85c583;
  }

  .b-darkGreener{
    background-color: #41b054;
  }

  .boton-circular{
    width: 2vw;
    height: 2vw;
    padding: 0;
  }

  .b-pag{
    border-radius: 5px;
    border-style: none;
    margin: 0 0.1vw;
    cursor: pointer;
  }

  .b-pag:hover{
    background-color: rgb(157 228 163);
  }

.bg-scroll-1{
  background-image: url("../../assets/images/fosil-bg-0.png");
}

.bg-scroll-2{
  background-image: url("../../assets/images/fosil-bg-1.png");
}

.no-result{
  background-color: #fff8c4;
  border-radius: 50px;
  position:relative;
  margin: 3% 0;
  box-shadow: 0px 0px 15px -5px rgb(23 23 23 / 55%);
}

.burbuja-title{
  background-image: url("../../assets/images/bubble-fosil.png");
}

:host{
  background-color: #b39d74;
}
