
  <div class="dv-inicio" id="dv-header">
    <div id="portada-wrap">
      <div>
        <img src="../../assets/images/logo.png" alt="logo"/>
      </div>
      <div id="portada-item2">
        <h1>My Crossing</h1>
        <h3>¡Lleva al día el progreso de tu isla!</h3>
      </div>
      <div id="portada-item3">
        <button routerLink="/registro">Empieza ya</button>
      </div>
      <br>
    </div>
  </div>

  <div class="dv-inicio" id="dv-0">
    <p id="titulo">¡A cazar se ha dicho!</p>
    <div>
      <span>imagen que cambia</span>
      <button>Peces</button>
      <button>Bichos</button>
      <button>Criaturas marinas</button>
    </div>
  </div>

  <div class="dv-inicio" id="dv-2">
    <p id="titulo">¡Completa el Museo!</p>
    <div>
      <button>Fosiles</button>
      <span>imagen</span>
      <button>Arte</button>
    </div>
  </div>

  <div class="dv-inicio" id="dv-1" >
    <p id="titulo">¡Ve de compras!</p>
    <div>
      <span>imagen</span>
      <button>Muebles</button>
      <button>Ropa</button>
      <span>imagen</span>
    </div>
  </div>

  <div class="dv-inicio" id="dv-2">
    <p id="titulo">¡Una isla llena de vida!</p>
    <div>
      <span>imagen</span>
      <button>Vecinos</button>
      <button>Calendario</button>
    </div>
  </div>


