<div style="width: 42vw; height: 25vw; display: none;" class="popup-menu flex-column" (busquedaEmitter)="filtrar($event)" #menuVecino>
  <div class="flex-centered">
    <input [formControl]="busqueda" type="text" placeholder="Buscar" style="width: 70%;">
  </div>
  <form [formGroup]="vecinoForm" (ngSubmit)="enviar(vecinoForm.value, false)">
    <div class="lista">
      <ng-container *ngFor="let vecino of vecinosArray | filtroVecino:valorFiltrar">
        <div class="elementList">
          <label>
            <input formControlName="id" type="radio" value="{{vecino.uniqueEntryId}}" class="radio-hidden">
            <img [src]="vecino.iconImage" [class]="vecinoForm.value['id'] == vecino.uniqueEntryId ? 'img-radio img-radio-checked' : 'img-radio'">
          </label>
          <label>{{vecino.translations.spanish}}</label>
        </div>
      </ng-container>
    </div>
    <div class="flex-centered" id="botones">
      <button (click)="borrarVecino()" class="boton-imagen delete"></button>
      <button [disabled]="vecinoForm.invalid" type="submit" class="boton-imagen save"></button>
    </div>
  </form>
</div>

<div class="popup-menu" style="width: 15vw; display: none;" #menuAmistad>
  <form [formGroup]="amistadForm" (ngSubmit)="enviar(amistadForm.value, true)">
    <label for="rad1">1</label>
    <input formControlName="amistad" id="rad1" type="radio" value="1">
    <label for="rad1">2</label>
    <input formControlName="amistad" id="rad2" type="radio" value="2">
    <label for="rad1">3</label>
    <input formControlName="amistad" id="rad3" type="radio" value="3">
    <label for="rad1">4</label>
    <input formControlName="amistad" id="rad4" type="radio" value="4">
    <label for="rad1">5</label>
    <input formControlName="amistad" id="rad5" type="radio" value="5">
    <label for="rad1">6</label>
    <input formControlName="amistad" id="rad6" type="radio" value="6">
    <hr class="menu-hr">
    <button [disabled]="amistadForm.invalid" type="submit">Listo</button>
  </form>
</div>
