<div style="width: 20vw; height: 60vw; display: none;" class="popup-menu" (busquedaEmitter)="filtrar($event)" #menuVecino>
  <div>
    <input [formControl]="busqueda" type="text" placeholder="Buscar" style="width: -webkit-fill-available;">
  </div>
  <form [formGroup]="vecinoForm" (ngSubmit)="enviar(vecinoForm.value, false)">
    <div class="botones">
      <button style="justify-self: center;" (click)="borrarVecino()" class="boton-imagen delete"></button>
      <button [disabled]="vecinoForm.invalid" type="submit" class="boton-imagen save" style="margin-bottom: 1vw;justify-self: center; grid-column: 2;"></button>
    </div>
    <div class="lista">
      <ng-container *ngFor="let vecino of vecinosArray | filtroVecino:valorFiltrar"> <!-- todos los vecinos de la api -->
        <div class="elementList">
          <label>
            <input formControlName="id" type="radio" value="{{vecino.uniqueEntryId}}" class="radio-hidden">
            <img [src]="vecino.iconImage" [class]="vecinoForm.value['id'] == vecino.uniqueEntryId ? 'img-radio img-radio-checked' : 'img-radio'">
          </label>
          <!--<input formControlName="id" type="radio" value="{{vecino.uniqueEntryId}}"> --> <!-- valor desde api-->
          <label>{{vecino.translations.spanish}}</label> <!-- nombre desde api -->
        </div>
      </ng-container>
    </div>
  </form>
</div>

<div class="popup-menu" style="width: 15vw; display: none;" #menuAmistad>
  <form [formGroup]="amistadForm" (ngSubmit)="enviar(amistadForm.value, true)">
    <label for="rad1">1</label>
    <input formControlName="amistad" id="rad1" type="radio" value="1">
    <label for="rad1">2</label>
    <input formControlName="amistad" id="rad2" type="radio" value="2">
    <label for="rad1">3</label>
    <input formControlName="amistad" id="rad3" type="radio" value="3">
    <label for="rad1">4</label>
    <input formControlName="amistad" id="rad4" type="radio" value="4">
    <label for="rad1">5</label>
    <input formControlName="amistad" id="rad5" type="radio" value="5">
    <label for="rad1">6</label>
    <input formControlName="amistad" id="rad6" type="radio" value="6">
    <hr class="menu-hr">
    <button [disabled]="amistadForm.invalid" type="submit">Listo</button>
  </form>
</div>
