:host{
  position: absolute;
  z-index: 2;
}
.lista{
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 30vh;
  margin: 1vw 0;
}
.elementList{
  display: grid;
  width: 8vw;
  text-align: center;
  height: fit-content;
}

.popup-menu{
  padding: 4%;
}

#botones{
  justify-content: space-around;
}

.amistad{
  background-image: url("../../../../assets/images/corazon.png");
  filter: drop-shadow(2px -1px 0 #F7F3E8) drop-shadow(-2px 0px 0 #F7F3E8) drop-shadow(1px 2px 0 #F7F3E8);
}

/* .popup-menu > form > label{
  margin: 0 0.5vw;
} */
