:host{
  position: absolute;
  z-index: 2;
}
.lista{
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 30vh;
  margin: 1vw 0;
}
.elementList{
  display: grid;
  width: 8vw;
  text-align: center;
}

.popup-menu{
  padding: 4%;
}

#botones{
  justify-content: space-around;
}
