<div class="bg-scroll-1"></div>
<div class="bg-scroll-2"></div>
<!-- Filtros búsqueda -->
<div class="content-wrapper-top">
    <div style="margin-top: 4vw;position:relative">
      <div class="burbuja-title">
        <h1>Catálogo de canciones</h1>
      </div>

      <!--Player-->
      <div class="reproductor flex-centered">
        <img [src]="cancionActual.albumImage" style="max-width: 100%;max-height: 100%;" [class]="playing ? 'gira' : ''">
        <audio controlsList="nodownload" id="audio" controls [src]="getAudio(cancionActual)"></audio>
      </div>

      <div id="wrap-filtros" class="flex-centered" style="padding: 1vw 0;">
        <div style="width: 35%;" class="flex-column-centered">
          <h3>Estados de ánimo</h3>
          <div class="flex-centered" style="flex-wrap: wrap;margin-right: 1.5vw;">
            <button class="boton-alargado b-scale" (click)="activaFiltroSrc('blue')" [class]="this.filtroSrc == 'blue' ? 'b-verde' : 'b-azul b-azul-hover'">Algo tristón...</button>
            <button class="boton-alargado b-scale" (click)="activaFiltroSrc('grumpy')" [class]="this.filtroSrc == 'grumpy' ? 'b-verde' : 'b-azul b-azul-hover'">Pues algo enfadado</button>
            <button class="boton-alargado b-scale" (click)="activaFiltroSrc('good')" [class]="this.filtroSrc == 'good' ? 'b-verde' : 'b-azul b-azul-hover'">¡Muy feliz!</button>
            <button class="boton-alargado b-scale" (click)="activaFiltroSrc('hard')" [class]="this.filtroSrc == 'hard' ? 'b-verde' : 'b-azul b-azul-hover'">Es complicado...</button>
            <button class="boton-alargado b-scale" (click)="activaFiltroSrc('back')" [class]="this.filtroSrc == 'back' ? 'b-verde' : 'b-azul b-azul-hover'">La mar de relajado</button>
            <button class="boton-alargado b-scale" (click)="activaFiltroSrc('other')" [class]="this.filtroSrc == 'other' ? 'b-verde' : 'b-azul b-azul-hover'">Otros</button>
          </div>
        </div>
        <div class="flex-column-centered" style="width: 35%;">
          <input [formControl]="busqueda" class="text-input" type="text" placeholder="Buscar" style="width:80%">
          <div class="flex-centered" style="flex-wrap: wrap;margin: 0.5vw;" [style.display]="this._verif.user == null ? 'none' : 'flex'">
            <button class="boton-alargado b-scale" (click)="activaFiltro('obtenido')" [class]="this.botonFiltrar == 'obtenido' ? 'b-verde' : 'b-azul b-azul-hover'">Obtenidos</button>
            <button class="boton-alargado b-scale" (click)="activaFiltro('falta')" [class]="this.botonFiltrar == 'falta' ? 'b-verde' : 'b-azul b-azul-hover'">Me faltan</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Items -->
  <div class="content-wrapper-bot">

    <!-- Paginacion arriba -->
    <div class="pag-menu flex-centered">
      <button [style.visibility]="page_number != 1 ? 'visible' : 'hidden'" class="boton-circular b-azul-hover b-scale" (click)="page_number = this._pag.pagAtras(page_number)"> < </button>

      <ng-container *ngIf="this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length < 25; else paginacionComprimida">
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc)">
          <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-scale b-pag'" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
      </ng-container>

      <ng-template #paginacionComprimida>
        <!-- Paginacion start -->
        <ng-container *ngIf="page_number < 11">
          <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).slice(0, 11)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-scale b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).slice(this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length - 2, this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length)">
            <button class="b-darkBlue b-scale b-pag" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
        </ng-container>

        <!-- Paginacion mid -->
        <ng-container #mid *ngIf="10 < page_number && page_number < this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length - 10">
          <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).slice(0, 2)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-scale b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).slice(page_number-4, page_number+3)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-scale b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).slice(this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length - 2, this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length)">
            <button class="b-darkBlue b-scale b-pag" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
        </ng-container>

        <!-- Paginacion end -->
        <ng-container #midOfin *ngIf="this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length - 11 < page_number">
          <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).slice(0, 2)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-scale b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).slice(this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length - 12, this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-scale b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
        </ng-container>

      </ng-template>

      <button [style.visibility]="max_items < listaItems.length && page_number * max_items < (listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length ? 'visible' : 'hidden'" class="boton-circular b-azul-hover b-scale" (click)="page_number = this._pag.pagAlante(page_number, max_items, listaItems)"> > </button>
    </div>

    <!-- Grid -->
    <div class="grid-w-gap" style="margin: 1vw 0">
        <ng-container *ngFor="let item of listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc | paginacion:page_number:max_items">
          <div class="grid-item-wrap flex-column-centered" style="justify-content: space-evenly;">
            <div class="check-container" *ngIf="this._verif.user != null">
              <button [style.background-image]="this.listaUsuario.includes(item.name.replace(' ','')) ? 'url(../../assets/images/check-rojo.png)' : 'url(../../assets/images/check-gris.png)'" class="b-scale-xl boton-imagen editar" (click)="toggleCheck(item)"></button>
            </div>
            <div class="reproduciendo-wrap flex-centered">
              <div [class]="cancionActual.uniqueEntryId == item.uniqueEntryId && playing ? 'bg-scroll-song' : ''"></div>
            </div>
            <div (click)="escucha(item)" style="cursor: pointer;width: 8vw; height: 8vw;" class="wrap-scale flex-centered" [class]="cancionActual.uniqueEntryId == item.uniqueEntryId && playing ? 'reproduciendo' : ''">
              <img [src]="item.albumImage" style="max-width: 100%;max-height: 100%;" [id]='item.name.replace(" ", "")'>
            </div>
            <span>{{item.translations.spanish | capitalize}}</span>
          </div>
        </ng-container>
    </div>

    <ng-container *ngIf="(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc | paginacion:page_number:max_items).length == 0" >
      <div class="flex-column-centered no-result" style="margin: 3% 0">
        <img src="../../assets/images/error.png" style="width: 10vw;">
        <p><strong>No hubo resultados</strong></p>
      </div>
    </ng-container>

    <!-- Paginacion abajo -->
    <div class="pag-menu flex-centered" [style.padding-top]="(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc | paginacion:page_number:max_items).length < 6 ? '18vw' : '0' ">
      <button [style.visibility]="page_number != 1 ? 'visible' : 'hidden'" class="boton-circular b-azul-hover b-scale" (click)="page_number = this._pag.pagAtras(page_number)"> < </button>

      <ng-container *ngIf="this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length < 25; else paginacionComprimida">
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc)">
          <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-scale b-pag'" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
      </ng-container>

      <ng-template #paginacionComprimida>
        <!-- Paginacion start -->
        <ng-container *ngIf="page_number < 11">
          <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).slice(0, 11)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-scale b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).slice(this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length - 2, this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length)">
            <button class="b-darkBlue b-scale b-pag" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
        </ng-container>

        <!-- Paginacion mid -->
        <ng-container #mid *ngIf="10 < page_number && page_number < this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length - 10">
          <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).slice(0, 2)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-scale b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).slice(page_number-4, page_number+3)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-scale b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).slice(this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length - 2, this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length)">
            <button class="b-darkBlue b-scale b-pag" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
        </ng-container>

        <!-- Paginacion end -->
        <ng-container #midOfin *ngIf="this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length - 11 < page_number">
          <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).slice(0, 2)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-scale b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).slice(this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length - 12, this.getPaginas(listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-scale b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
        </ng-container>

      </ng-template>

      <button [style.visibility]="max_items < listaItems.length && page_number * max_items < (listaItems | filtroAc:nameFilter | filtroSrc:filtroSrc).length ? 'visible' : 'hidden'" class="boton-circular b-azul-hover b-scale" (click)="page_number = this._pag.pagAlante(page_number, max_items, listaItems)"> > </button>
    </div>

  </div>

