.titulo{
    font-size: 2vw;
    text-align: center;
    font-size: 20px;
}
.error{
    font-size: 1vw;
    color: red;

}
.formulario{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    border-width: 1px;
    border-style: solid;
}
#nombre{
    margin-left: 26px;
}
#password{
    margin-left: 5px;
}
