<div class="flex-column-centered">
  <!-- Informacion -->
  <div class="w100 margin-nav" style="background-color: pink;">
    <h2>Mercado de nabos</h2>
    <div class="flex-between" style="background-color: rgb(255, 134, 150);">
      <img src="../../assets/images/juliana.png">
      <p>Esto es un parrafo de informasao</p>
      <div class="flex-column-centered" style="background-color: rgb(195, 233, 126);">
        <img src="../../assets/images/juliana.png">
        <img src="../../assets/images/juliana.png">
        <img src="../../assets/images/juliana.png">
        <img src="../../assets/images/juliana.png">
      </div>
    </div>
  </div>

  <!-- Calculadora -->
  <div class="w100" style="background-color: orange;">
    hola placeholder
  </div>

</div>
