<div class="flex-column-centered padding-nav-footer" style="background-color: rgb(255, 0, 43);">
  <!-- Informacion -->
  <div class="w100" style="background-color: pink;">
    <h2>Mercado de nabos</h2>
    <div class="flex-between info-wrap">
      <!-- Información general -->
      <div class="flex-column-centered info-general">
        <h3>¿Por donde empiezo?</h3>
        <div style="text-align: center;">
          <p>Cada domingo vendrá a tu isla Juliana, una particular jabalí que se dedica a vender nabos.</p>

          <p>Los nabos se venden a un precio que oscila entre las 90 y las 110 bayas el manojo de 10, y su único
            uso es el de venderlos posteriormente a Tendo y Nendo para sacar beneficio (¡o intentarlo!).</p>

          <p>MiniNook compra los nabos de Lunes a Sábado, y el precio cambia dos veces al dia: a las 12PM y a las 5AM.
            Además, estas variaciones de precio siguen uno de cuatro posibles patrones (los que ves a la derecha).
            Cada semana se elegirá un patrón mediante una serie de cálculos y los precios a los que Tendo y Nendo compren
            los nabos dependerán de este patrón.</p>

          <p>Debido a como funcionan los patrones, si no empieza a haber una subida en el precio de compra a partir del Jueves
            por la tarde, es muy improbable que se trate de un patron "Pico pequeño" o "Pico alto", por lo que puede ser
            mejor opción no arriesgarse demasiado, vender cuanto antes y aminorar las pérdidas.</p>

          <br>
          <h3 style="color:red">¡ATENCIÓN!</h3>
          <p style="color:red"> Hacer time travel hace que se pudran los nabos, ¡así que ten cuidado!</p>

        </div>
        <img src="../../assets/images/juliana-big.png">
      </div>

      <!-- Patrones -->
      <div class="flex-column-centered" style="align-items: unset; width: 90%">
        <div class="flex-between patron-tag" (mouseenter)="this.filtrosView[0] = true" (mouseleave)="this.filtrosView[0] = false">
          <div class="flex-column-centered">
            <h2>Aleatorio</h2>
            <p [style.display]="filtrosView[0] ? 'block' : 'none'">Va subiendo y bajando sin seguir ningún orden en particular.
              Puedes llegar a sacar algo de beneficio, pero es arriesgado.</p>
          </div>
          <img src="../../assets/images/aleatorio.png">
        </div>

        <div class="flex-between patron-tag" (mouseenter)="this.filtrosView[1] = true" (mouseleave)="this.filtrosView[1] = false">
          <div class="flex-column-centered">
            <h2>Descendiente</h2>
            <p [style.display]="filtrosView[1] ? 'block' : 'none'">El precio va bajando durante toda la semana, por lo que
              para evitar grandes pérdidas hay que vender cuanto antes.</p>
          </div>
          <img src="../../assets/images/descenso.png">
        </div>

        <div class="flex-between patron-tag" (mouseenter)="this.filtrosView[2] = true" (mouseleave)="this.filtrosView[2] = false">
          <div class="flex-column-centered">
            <h2>Pico pequeño</h2>
            <p [style.display]="filtrosView[2] ? 'block' : 'none'">Empieza bajando pero luego sube 3 veces, alcanzando en el
              tercer salto el precio de venta más alto, y luego vuelve a bajar.
              Lo mejor es venderlo en ese tercer ascenso consecutivo.</p>
          </div>
          <img src="../../assets/images/pico-pequenio.png">
        </div>

        <div class="flex-between patron-tag" (mouseenter)="this.filtrosView[3] = true" (mouseleave)="this.filtrosView[3] = false">
          <div class="flex-column-centered">
            <h2>Pico alto</h2>
            <p [style.display]="filtrosView[3] ? 'block' : 'none'">Igual que el anterior, con la diferencia de que entre el primer
              y segundo ascenso hay un descenso. Sin embargo, el segundo y
              tercer ascenso son mucho más pronunciados y se alcanzan precios
              muy altos.</p>
          </div>
          <img src="../../assets/images/pico-grande.png">
        </div>

      </div>

    </div>
  </div>

  <!-- Calculadora -->
  <div class="w100" style="background-color: orange;">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos unde a fugit
      atque quidem repellendus maiores eos fuga quia ab voluptates, laboriosam maxime natus
       corrupti suscipit odit non, expedita repellat ex ipsa itaque veniam. Consequatur
       voluptatum perspiciatis a, repellendus impedit suscipit dolores vero aliquid sit incidunt
        voluptas cum, culpa eius molestias voluptate soluta velit architecto repellat corporis
         reprehenderit. Quam, optio. Nobis quas iste ab dignissimos minus ullam cupiditate laboriosam
         ipsa itaque! Sapiente autem enim accusamus quas iste, sed, iusto ex perferendis eum error magni
         suscipit obcaecati molestias ea cupiditate corporis eveniet? Quia maxime facilis ratione nulla
         vitae nemo molestias adipisci.</p>
  </div>
  <div>
    <form class="input__form">
      <div class="form__row">
        <h6 data-i18n="first-time.title"></h6>
        <div class="input__group">
          <label data-i18n="[html]first-time.description"></label>
          <div class="input__radio-buttons">
            <input type="radio" id="first-time-radio-no" name="first-time" value="false" checked>
            <label for="first-time-radio-no" data-i18n="first-time.no"></label>
            <input type="radio" id="first-time-radio-yes" name="first-time" value="true">
            <label for="first-time-radio-yes" data-i18n="first-time.yes"></label>
          </div>
        </div>
      </div>

      <div class="form__row">
        <h6 data-i18n="patterns.title"></h6>
        <div class="input__group">
          <label for="" data-i18n="[html]patterns.description"></label>
          <div class="input__radio-buttons">
            <input type="radio" id="pattern-radio-unknown" name="pattern" value="-1" checked>
            <label data-i18n="patterns.unknown" for="pattern-radio-unknown"></label>
            <input type="radio" id="pattern-radio-fluctuating" name="pattern" value="0">
            <label data-i18n="patterns.fluctuating" for="pattern-radio-fluctuating"></label>
            <input type="radio" id="pattern-radio-small-spike" name="pattern" value="3">
            <label data-i18n="patterns.small-spike" for="pattern-radio-small-spike"></label>
            <input type="radio" id="pattern-radio-large-spike" name="pattern" value="1">
            <label data-i18n="patterns.large-spike" for="pattern-radio-large-spike"></label>
            <input type="radio" id="pattern-radio-decreasing" name="pattern" value="2">
            <label data-i18n="patterns.decreasing" for="pattern-radio-decreasing"></label>
          </div>
        </div>
      </div>

      <div class="form__row">
        <h6 data-i18n="weekdays.sunday"></h6>
        <div class="input__group">
          <label data-i18n="[html]prices.description" for='buy'></label>
          <input type="number" pattern="\d*" id="buy" placeholder="..." />

        </div>
      </div>
      <i data-i18n="prices.open.am"></i>
      <i data-i18n="prices.open.pm"></i>
      <div class="form__flex-wrap">
        <div class="form__row">
          <h6 data-i18n="weekdays.monday"></h6>
          <div class="input__group">
            <label data-i18n="times.morning" for="sell_2"></label>
            <input type="number" pattern="\d*" id="sell_2" placeholder="..." />
          </div>
          <div class="input__group">
            <label data-i18n="times.afternoon" for="sell_3"></label>
            <input type="number" pattern="\d*" id="sell_3" placeholder="..." />
          </div>
        </div>

        <div class="form__row">
          <h6 data-i18n="weekdays.tuesday"></h6>
          <div class="input__group">
            <label data-i18n="times.morning" for="sell_4"></label>
            <input type="number" pattern="\d*" id="sell_4" placeholder="..." />
          </div>
          <div class="input__group">
            <label data-i18n="times.afternoon" for="sell_5"></label>
            <input type="number" pattern="\d*" id="sell_5" placeholder="..." />
          </div>
        </div>

        <div class="form__row">
          <h6 data-i18n="weekdays.wednesday"></h6>
          <div class="input__group">
            <label data-i18n="times.morning" for="sell_6"></label>
            <input type="number" pattern="\d*" id="sell_6" placeholder="..." />
          </div>
          <div class="input__group">
            <label data-i18n="times.afternoon" for="sell_7"></label>
            <input type="number" pattern="\d*" id="sell_7" placeholder="..." />
          </div>
        </div>

        <div class="form__row">
          <h6 data-i18n="weekdays.thursday"></h6>
          <div class="input__group">
            <label data-i18n="times.morning" for="sell_8"></label>
            <input type="number" pattern="\d*" id="sell_8" placeholder="..." />
          </div>
          <div class="input__group">
            <label data-i18n="times.afternoon" for="sell_9"></label>
            <input type="number" pattern="\d*" id="sell_9" placeholder="..." />
          </div>
        </div>

        <div class="form__row">
          <h6 data-i18n="weekdays.friday"></h6>
          <div class="input__group">
            <label data-i18n="times.morning" for="sell_10"></label>
            <input type="number" pattern="\d*" id="sell_10" placeholder="..." />
          </div>
          <div class="input__group">
            <label data-i18n="times.afternoon" for="sell_11"></label>
            <input type="number" pattern="\d*" id="sell_11" placeholder="..." />
          </div>
        </div>

        <div class="form__row">
          <h6 data-i18n="weekdays.saturday"></h6>
          <div class="input__group">
            <label data-i18n="times.morning" for="sell_12"></label>
            <input type="number" pattern="\d*" id="sell_12" placeholder="..." />
          </div>
          <div class="input__group">
            <label data-i18n="times.afternoon" for="sell_13"></label>
            <input type="number" pattern="\d*" id="sell_13" placeholder="..." />
          </div>
        </div>
      </div>
      <input id="permalink-input" type="text" readOnly />
      <div id="permalink-btn" class="button permalink">
        <span data-i18n="prices.copy-permalink"></span>
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="copy" class="svg-inline--fa fa-copy fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor" d="M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z"></path>
        </svg>
      </div>
      <button type="button" id="reset" class="button button--reset" name="action" data-i18n="prices.reset"></button>
    </form>

  </div>

  <!-- Tabla -->
  <div class="table-wrapper" style="background-color: pink;">
    <table id="turnipTable">
      <thead>
        <tr>
          <th valign="bottom" data-i18n="patterns.pattern"></th>
          <th colspan="2" valign="bottom" data-i18n="output.chance"></th>
          <th colspan="2">
            <div data-i18n="weekdays.monday"></div>
            <div>
              <span data-i18n="times.morning"></span>
              <span data-i18n="times.afternoon"></span>
            </div>
          </th>
          <th colspan="2">
            <div data-i18n="weekdays.tuesday"></div>
            <div>
              <span data-i18n="times.morning"></span>
              <span data-i18n="times.afternoon"></span>
            </div>
          </th>
          <th colspan="2">
            <div data-i18n="weekdays.wednesday"></div>
            <div>
              <span data-i18n="times.morning"></span>
              <span data-i18n="times.afternoon"></span>
            </div>
          </th>
          <th colspan="2">
            <div data-i18n="weekdays.thursday"></div>
            <div>
              <span data-i18n="times.morning"></span>
              <span data-i18n="times.afternoon"></span>
            </div>
          </th>
          <th colspan="2">
            <div data-i18n="weekdays.friday"></div>
            <div>
              <span data-i18n="times.morning"></span>
              <span data-i18n="times.afternoon"></span>
            </div>
          </th>
          <th colspan="2">
            <div data-i18n="weekdays.saturday"></div>
            <div>
              <span data-i18n="times.morning"></span>
              <span data-i18n="times.afternoon"></span>
            </div>
          </th>
          <th valign="bottom" data-i18n="output.minimum"></th>
          <th valign="bottom" data-i18n="output.maximum"></th>
        </tr>
      </thead>
      <tbody id="output"></tbody>
    </table>
  </div>


</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/19.4.2/i18next.min.js" integrity="sha384-heKFZqp863HDEF6obW4Nvk9hF5pRjZThVwrDiV+tSCKPBTnu6vf5lu8QJGDwGv0X" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha384-i+dHPTzZw7YVZOx9lbH5l6lP74sLRtMtwN2XjVqjf3uAGAREAF4LMIUDTWEVs4LI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/i18next-xhr-backend/3.2.2/i18nextXHRBackend.min.js" integrity="sha384-E1yZPo675XVLefQp/3MbG3T1eRDvW41iRKovK3OCHS2dWMrcF/F3/+74qwmoX1jX" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/i18next-browser-languagedetector/4.0.2/i18nextBrowserLanguageDetector.min.js" integrity="sha384-FYlRD8WE3hzVKyoaW6rmqYtUfv1ajxElK/c9bKM1NUnbsJ/VUiUv2YFEQP1AJdOQ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-i18next/1.2.1/jquery-i18next.min.js" integrity="sha384-fLTSt6zHOb152KeFkj7kSiXdkyjKf6fjk5bdzWYLDPDo9evwd9PVs3TKoYYaaxdl" crossorigin="anonymous"></script>

