<div class="visitasContainer">
    <div class="oscuro" (click)="hide=true" [style.visibility]="hide ? 'hidden': 'visible'"></div>
    <div class="panel" [style.visibility]="hide ? 'hidden': 'visible'">
        <div class="grid">
            <button (click)="agrega('Alcatifa', alcatifa)" [style.opacity]="alcatifa ? '1': '0.4'" class="izq">Alcatifa</button>
            <button (click)="agrega('Betunio', betunio)" [style.opacity]="betunio ? '1': '0.4'" class="der">Betunio</button>
            <button (click)="agrega('Tili', tili)" [style.opacity]="tili ? '1': '0.4'" class="izq">Tili</button>
            <button (click)="agrega('Gandulio', gandulio)" [style.opacity]="gandulio ? '1': '0.4'" class="der">Gandulio</button>
            <button (click)="agrega('Kamilo', kamilo)" [style.opacity]="kamilo ? '1': '0.4'" class="izq">Kamilo</button>
            <button (click)="agrega('CJ', cj)" [style.opacity]="cj ? '1': '0.4'" class="der">CJ</button>
            <button (click)="agrega('Gulliver', gulliver)" [style.opacity]="gulliver ? '1': '0.4'" class="izq">Gulliver</button>
            <button (click)="agrega('Gullivarrr', gullivarrr)" [style.opacity]="gullivarrr ? '1': '0.4'" class="der">Gullivarrr</button>
            <button style="margin-bottom: 0vw;" (click)="agrega('Ladino', ladino)" [style.opacity]="ladino ? '1': '0.4'" class="izq">Ladino</button>
            <button style="margin-bottom: 0vw;" (click)="agrega('', true)" class="der">Mantener vacío</button>
        </div>
    </div>
    <div class="notificacion" [style.visibility]="avisando ? 'visible': 'hidden'">{{aviso}}</div>
    <div class="cabeceraA">
        <div class="cabeceraB first">L</div>
        <div class="cabeceraB">M</div>
        <div class="cabeceraB">X</div>
        <div class="cabeceraB">J</div>
        <div class="cabeceraB">V</div>
        <div class="cabeceraB">S</div>
        <div class="cabeceraB last">D</div>
    </div>
    <div class="presente">
        <div (click)="vacio($event,'lpr')" class="visita first">
            <ng-container *ngIf="isEmpty(lpr)">
                <div>
                    <button class="b-bold boton-circular b-amarillo" style="width: 3vw; height: 3vw;">+</button>
                </div>
            </ng-container>
            <ng-container *ngIf="!isEmpty(lpr)">
                <div class="elemento">
                    <img class="image" src="../../../assets/images/{{lpr | lowercase}}.png">
                    {{lpr | titlecase}}
                </div>
            </ng-container>
        </div>
        <div (click)="vacio($event,'mpr')" class="visita">
            <ng-container *ngIf="isEmpty(mpr)">
                <div>
                  <button class="b-bold boton-circular b-amarillo" style="width: 3vw; height: 3vw;">+</button>
                </div>
            </ng-container>
            <ng-container *ngIf="!isEmpty(mpr)">
                <div class="elemento">
                    <img class="image" src="../../../assets/images/{{mpr | lowercase}}.png">
                    {{mpr | titlecase}}
                </div>
            </ng-container>
        </div>
        <div (click)="vacio($event,'xpr')" class="visita">
            <ng-container *ngIf="isEmpty(xpr)">
                <div>
                  <button class="b-bold boton-circular b-amarillo" style="width: 3vw; height: 3vw;">+</button>
                </div>
            </ng-container>
            <ng-container *ngIf="!isEmpty(xpr)">
                <div class="elemento">
                    <img class="image" src="../../../assets/images/{{xpr | lowercase}}.png">
                    {{xpr | titlecase}}
                </div>
            </ng-container>
        </div>
        <div (click)="vacio($event,'jpr')" class="visita">
            <ng-container *ngIf="isEmpty(jpr)">
                <div>
                  <button class="b-bold boton-circular b-amarillo" style="width: 3vw; height: 3vw;">+</button>
                </div>
            </ng-container>
            <ng-container *ngIf="!isEmpty(jpr)">
                <div class="elemento">
                    <img class="image" src="../../../assets/images/{{jpr | lowercase}}.png">
                    {{jpr | titlecase}}
                </div>
            </ng-container>
        </div>
        <div (click)="vacio($event,'vpr')" class="visita">
            <ng-container *ngIf="isEmpty(vpr)">
                <div>
                  <button class="b-bold boton-circular b-amarillo" style="width: 3vw; height: 3vw;">+</button>
                </div>
            </ng-container>
            <ng-container *ngIf="!isEmpty(vpr)">
                <div class="elemento">
                    <img class="image" src="../../../assets/images/{{vpr | lowercase}}.png">
                    {{vpr | titlecase}}
                </div>
            </ng-container>
        </div>
        <div class="visita noPointer">
            <div class="elemento">
                <img class="image" src="../../../assets/images/totakeke.png">
                Totakeke
            </div>
        </div>
        <div class="visita last noPointer">
            <div class="elemento">
                <img class="image" src="../../../assets/images/juliana.png">
                Juliana
            </div>
        </div>
    </div>
    Semana pasada
    <div class="pasado">
        <div (click)="vacio($event,'lpa')" class="visita first">
            <ng-container *ngIf="isEmpty(lpa)">
                <div>
                  <button class="b-bold boton-circular b-amarillo" style="width: 3vw; height: 3vw;">+</button>
                </div>
            </ng-container>
            <ng-container *ngIf="!isEmpty(lpa)">
                <div class="elemento">
                    <img class="image" src="../../../assets/images/{{lpa | lowercase}}.png">
                    {{lpa | titlecase}}
                </div>
            </ng-container>
        </div>
        <div (click)="vacio($event,'mpa')" class="visita">
            <ng-container *ngIf="isEmpty(mpa)">
                <div>
                  <button class="b-bold boton-circular b-amarillo" style="width: 3vw; height: 3vw;">+</button>
                </div>
            </ng-container>
            <ng-container *ngIf="!isEmpty(mpa)">
                <div class="elemento">
                    <img class="image" src="../../../assets/images/{{mpa | lowercase}}.png">
                    {{mpa | titlecase}}
                </div>
            </ng-container>
        </div>
        <div (click)="vacio($event,'xpa')" class="visita">
            <ng-container *ngIf="isEmpty(xpa)">
                <div>
                  <button class="b-bold boton-circular b-amarillo" style="width: 3vw; height: 3vw;">+</button>
                </div>
            </ng-container>
            <ng-container *ngIf="!isEmpty(xpa)">
                <div class="elemento">
                    <img class="image" src="../../../assets/images/{{xpa | lowercase}}.png">
                    {{xpa | titlecase}}
                </div>
            </ng-container>
        </div>
        <div (click)="vacio($event,'jpa')" class="visita">
            <ng-container *ngIf="isEmpty(jpa)">
                <div>
                  <button class="b-bold boton-circular b-amarillo" style="width: 3vw; height: 3vw;">+</button>
                </div>
            </ng-container>
            <ng-container *ngIf="!isEmpty(jpa)">
                <div class="elemento">
                    <img class="image" src="../../../assets/images/{{jpa | lowercase}}.png">
                    {{jpa | titlecase}}
                </div>
            </ng-container>
        </div>
        <div (click)="vacio($event,'vpa')" class="visita">
            <ng-container *ngIf="isEmpty(vpa)">
                <div>
                  <button class="b-bold boton-circular b-amarillo" style="width: 3vw; height: 3vw;">+</button>
                </div>
            </ng-container>
            <ng-container *ngIf="!isEmpty(vpa)">
                <div class="elemento">
                    <img class="image" src="../../../assets/images/{{vpa | lowercase}}.png">
                    {{vpa | titlecase}}
                </div>
            </ng-container>
        </div>
        <div class="visita noPointer">
            <div class="elemento">
                <img class="image" src="../../../assets/images/totakeke.png">
                Totakeke
            </div>
        </div>
        <div class="visita last noPointer">
            <div class="elemento">
                <img class="image" src="../../../assets/images/juliana.png">
                Juliana
            </div>
        </div>
    </div>
    <div class="flex-centered div-botones">
      <div class="estela-container">
        <img [src]="estela ? '../../../assets/images/estela.png' : '../../../assets/images/estela-gris.png'" style="width: 3vw; height: 3vw;margin-right:1vw">
        <button class="estelaButton boton-alargado" [style.border-color]="estela ? '#95E59B' : '#ade6e7' " [style.background-color]="estela ? '#CBF4C4' : '#d9f6f6' " (click)="cambiarEstela()">
          {{estela ? "Estela ya te ha visitado esta semana" : "Estela aún no te ha visitado"}}
        </button>
      </div>
      <button class="boton-imagen save" style="margin-bottom: 1vw;" (click)="guardar()"></button>
    </div>
</div>
