/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
}

* {
  font-family: Varela Round, serif;
  outline: none;
}

hr{
  border-width: 0.2vw;
  border-style: solid;
  width: 33%;
  position: absolute;
  border-color: #69c0c0;
  margin-inline-start: 33%;
  border-radius: 20px;
  background-color:  #69c0c0;
  margin-block-start: -2px;
}

