<!-- Filtros búsqueda -->
<div class="content-wrapper-top" style="background-color: #e2d4b9;">
    <div style="margin-top: 4vw;">
      <h2>Catálogo de insectos</h2>
      <div id="wrap-filtros" class="flex-centered" style="align-items: unset;">
        <div class="flex-column-centered" style="width: 35%;">
          <input [formControl]="busqueda" class="text-input" style="width: 80%;margin-top: 2vw" type="text" placeholder="Buscar">
        </div>
      </div>
    </div>
  </div>
  
    <!-- Items -->
  <div class="content-wrapper-bot" style="min-height: 22vw;">
  
    <!-- Paginacion arriba -->
    <div class="pag-menu flex-centered">
      <button [style.visibility]="page_number != 1 ? 'visible' : 'hidden'" class="boton-circular b-verde" (click)="page_number = this._pag.pagAtras(page_number)"> < </button>
  
      <ng-container *ngIf="this.getPaginas(listaVillagers | filtroAc:nameFilter).length < 25; else paginacionComprimida">
        <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter)">
          <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
      </ng-container>
  
      <ng-template #paginacionComprimida>
        <!-- Paginacion start -->
        <ng-container *ngIf="page_number < 11">
          <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter).slice(0, 11)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter).slice(this.getPaginas(listaVillagers | filtroAc:nameFilter).length - 2, this.getPaginas(listaVillagers | filtroAc:nameFilter).length)">
            <button class="b-darkBlue b-pag" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
        </ng-container>
  
        <!-- Paginacion mid -->
        <ng-container #mid *ngIf="10 < page_number && page_number < this.getPaginas(listaVillagers | filtroAc:nameFilter).length - 10">
          <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter).slice(0, 2)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter).slice(page_number-4, page_number+3)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter).slice(this.getPaginas(listaVillagers | filtroAc:nameFilter).length - 2, this.getPaginas(listaVillagers | filtroAc:nameFilter).length)">
            <button class="b-darkBlue b-pag" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
        </ng-container>
  
        <!-- Paginacion end -->
        <ng-container #midOfin *ngIf="this.getPaginas(listaVillagers | filtroCategoria:filtroAcWhe:filtroAcWe | filtroCategoria:filtroAcWhe:filtroAcWe | filtroAc:nameFilter).length - 11 < page_number">
          <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter).slice(0, 2)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter).slice(this.getPaginas(listaVillagers | filtroAc:nameFilter).length - 12, this.getPaginas(listaVillagers | filtroAc:nameFilter).length)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
        </ng-container>
  
      </ng-template>
  
      <button [style.visibility]="max_items < listaVillagers.length && page_number * max_items < (listaVillagers | filtroAc:nameFilter).length ? 'visible' : 'hidden'" class="boton-circular b-verde" (click)="page_number = this._pag.pagAlante(page_number, max_items, listaVillagers)"> > </button>
    </div>
  
    <!-- Grid -->
    <div class="grid-w-gap" style="margin: 1vw 0">
        <ng-container *ngFor="let villager of listaVillagers | filtroAc:nameFilter | paginacion:page_number:max_items">
          <div class="grid-item-wrap flex-column-centered" style="justify-content: space-evenly;">
            <div style="width: 8vw; height: 8vw;" class="flex-centered">
              <img (click)="mostrar(villager)" [src]="villager.iconImage" style="cursor: pointer;max-width: 100%;max-height: 100%;" [id]='villager.translations.spanish.replace(" ", "")'>
            </div>
            <span>{{villager.translations.spanish | capitalize}}</span>
          </div>
        </ng-container>
    </div>
  
    <!-- Paginacion abajo -->
    <div class="pag-menu flex-centered">
      <button [style.visibility]="page_number != 1 ? 'visible' : 'hidden'" class="boton-circular b-verde" (click)="page_number = this._pag.pagAtras(page_number)"> < </button>
  
      <ng-container *ngIf="this.getPaginas(listaVillagers | filtroAc:nameFilter).length < 25; else paginacionComprimida">
        <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter)">
          <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
      </ng-container>
  
      <ng-template #paginacionComprimida>
        <!-- Paginacion start -->
        <ng-container *ngIf="page_number < 11">
          <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter).slice(0, 11)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter).slice(this.getPaginas(listaVillagers | filtroAc:nameFilter).length - 2, this.getPaginas(listaVillagers | filtroAc:nameFilter).length)">
            <button class="b-darkBlue b-pag" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
        </ng-container>
  
        <!-- Paginacion mid -->
        <ng-container #mid *ngIf="10 < page_number && page_number < this.getPaginas(listaVillagers | filtroAc:nameFilter).length - 10">
          <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter).slice(0, 2)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter).slice(page_number-4, page_number+3)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter).slice(this.getPaginas(listaVillagers | filtroAc:nameFilter).length - 2, this.getPaginas(listaVillagers | filtroAc:nameFilter).length)">
            <button class="b-darkBlue b-pag" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
        </ng-container>
  
        <!-- Paginacion end -->
        <ng-container #midOfin *ngIf="this.getPaginas(listaVillagers | filtroAc:nameFilter).length - 11 < page_number">
          <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter).slice(0, 2)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
          <button class="b-darkBlue b-pag">·</button>
          <button class="b-darkBlue b-pag">·</button>
          <ng-container *ngFor="let pag of this.getPaginas(listaVillagers | filtroAc:nameFilter).slice(this.getPaginas(listaVillagers | filtroAc:nameFilter).length - 12, this.getPaginas(listaVillagers | filtroAc:nameFilter).length)">
            <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
          </ng-container>
        </ng-container>
  
      </ng-template>
  
      <button [style.visibility]="max_items < listaVillagers.length && page_number * max_items < (listaVillagers | filtroAc:nameFilter).length ? 'visible' : 'hidden'" class="boton-circular b-verde" (click)="page_number = this._pag.pagAlante(page_number, max_items, listaVillagers)"> > </button>
    </div>
  
  </div>
    <!--   Pop-ups   -->
  <div class="oscuro" (click)="hide=true" [style.display]="hide ? 'none': 'block'"></div>
  <div class="panel" [style.display]="hide ? 'none': 'block'">
    <div style="width: 100%; text-align: -webkit-center; display: flex; justify-content: space-around;">
      <div class="grid-item-wrap flex-column-centered" style="width: fit-content;">
        <img [src]="shownVillager.photoImage" style="border-radius: 2vw; width: 9vw; padding: 1vw; max-height: 12vw;" id='villager.translations.spanish.replace(" ", "")'>
      </div>
    </div>
    <div class="datos"><b>Nombre: </b>{{shownVillager.translations.spanish}}</div>
    <div class="datos"><b>Cumpleaños: </b>{{shownVillager.birthday}}</div>
    <div class="datos"><b>Género: </b>{{shownVillager.gender | vecinos:'gender'}}</div>
    <div class="datos"><b>Especie: </b>{{shownVillager.species | vecinos:'specie'}}</div>
    <div class="datos"><b>Personalidad: </b>{{shownVillager.personality | vecinos:'personality'}}</div>
    <div class="datos"><b>Colores favoritos: </b>{{shownVillager.colors | vecinos:'color'}}</div>
    <div class="datos" style="margin-bottom: 0px;"><b>Estilos favoritos: </b>{{shownVillager.styles | vecinos:'style'}}</div>
  </div>
  
  