<div id="nav">
  <a routerLink="">logo aqui</a>
  <button routerLink="/caza-ahora" >Cazar ahora</button>
  <button routerLink="/disenyos" >Diseños</button>
  <button routerLink="/probador" >Probador</button>
  <button routerLink="/nabos" >Nabos</button>

  <button *ngIf="globals.logged" routerLink="/perfil">Perfil temp</button>

  <button *ngIf="!globals.logged" routerLink="/inicia-sesion">Inicia sesión</button>
  <button *ngIf="globals.logged" (click)="globals.logged=false">Cierra sesión</button>
</div>
