<div id="nav">
  <img routerLink="" src="../../assets/images/logo.png"/>

  <div id="menu">
    <button routerLink="/caza-ahora" routerLinkActive="activo">Cazar ahora</button>
    <button routerLink="/disenyos" routerLinkActive="activo">Diseños</button>
    <button routerLink="/probador" routerLinkActive="activo">Probador</button>
    <button routerLink="/nabos" routerLinkActive="activo">Nabos</button>

    <button *ngIf="globals.logged" routerLink="/perfil" routerLinkActive="activo">Perfil temp</button>
  </div>

  <div>
    <button id="login" *ngIf="!globals.logged; else logueado" routerLink="/inicia-sesion" routerLinkActive="activo">Inicia sesión</button>
    <ng-template #logueado>
      <button (click)="logout()">Cierra sesión</button>
    </ng-template>
  </div>

</div>
