<div id="nav">
  <img routerLink="" src="../../assets/images/logo.png"/>

  <div id="menu">
    <button class="button-nav" routerLink="/caza-ahora" routerLinkActive="activo">Cazar ahora</button>
    <button class="button-nav" routerLink="/disenyos" routerLinkActive="activo">Diseños</button>
    <button class="button-nav" routerLink="/probador" routerLinkActive="activo">Probador</button>
    <button class="button-nav" routerLink="/nabos" routerLinkActive="activo">Nabos</button>
  </div>

  <div class="boton-usuario">
    <button class="login" class="button-nav" style="margin: 0 0 0 1vw;" *ngIf="!verification.logged; else logueado" routerLink="/inicia-sesion" routerLinkActive="activo">Inicia sesión</button>
    <ng-template #logueado>
      <div (clickOutside)="cierraMenu()" class="cierra-wrap">
        <span style="font-size: 1.3vw;"><b>{{this.verification.nombre | capitalize}}</b></span>
        <img src="../../assets/images/logo.png" (click)="toggleMenu()" style="margin-left: 5%"/>
        <div class="dropdown-menu" [hidden]="!menu" >
          <button class="button-menu" routerLink="/perfil" routerLinkActive="activo" (click)="menu = false">Perfil</button>
          <button class="button-menu" (click)="updateCEInv()" [hidden]="this.verification.user != 1">Actualizar Inventario</button>
          <button class="button-menu" (click)="logOut()">Cierra sesión</button>
        </div>
      </div>
    </ng-template>
  </div>

</div>
