body{
  margin: 0;
}

label{
  font-size: 1.3vw;
  font-weight: bold;
}

* {
  font-family: Varela Round, serif;
  outline: none;
  color: #2c271b;
}

.boton-circular{
  border-radius: 100%;
  width: 4vw;
  height: 4vw;
  border-style: solid;
  border-width: 0.3vw;
  cursor: pointer;
  margin: 0 1vw;
}

.boton-alargado{
  cursor: pointer;
  border-style: solid;
  border-width: 0.3vw;
  border-radius: 1vw;
}

.popup-menu{
  background-color: #F7F3E8;
  height: auto;
  display: block;
  padding: 7%;
  border-radius: 15px;
  font-size: 1.2vw;
  box-shadow: 0px 0px 10px 1px rgb(23 23 23 / 55%);
}

.editar{
  position: absolute;
}

.boton-imagen{
  width: 2vw;
  height: 2vw;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
}

.bckg-img-boton{
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.img-radio{
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 0.4vw;
  padding: 0.4vw;
}

.img-radio:hover{
  background-color: #CBF4C4;
}

.img-radio-checked{
  background-color:#c9f3f3;
}

.b-bold{
  font-weight: bold;
  font-size: 1.5vw;
}

.radio-hidden{
  position: absolute;
  opacity: 0;
}

.editar-blanco{
  background-image: url("./assets/images/editar-blanco.png");
}

.editar-verde{
  background-image: url("./assets/images/editar-verde.png");
}

.editar-azul{
  background-image: url("./assets/images/editar-azul.png");
}

.save{
  background-image: url("./assets/images/save-verde.png");
}

.delete-rojo{
  background-image: url("./assets/images/basura-roja.png");
}

.delete{
  background-image: url("./assets/images/basura-gris.png");
}

.delete:hover{
  background-image: url("./assets/images/basura-roja.png");
}

.menu-hr{
  background-color: white;
  border-color: white;
  border-width: 0.1vw;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  position: relative;
}

.centrado{
  margin: auto;
  width: fit-content;
}

.footer-wrap{
  position: relative;
}

.flex-column-centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-button-empty{
  background-color: blue;
}

.check-button-empty:hover{
  background-color: rgb(255, 145, 0);
}

.check-button-full{
  background-color: red;
}

#hr-azul{
  border-width: 0.2vw;
  border-style: solid;
  width: 33%;
  position: absolute;
  border-color: #69c0c0;
  margin-inline-start: 33%;
  border-radius: 20px;
  background-color:  #69c0c0;
  margin-block-start: -2px;
}

.b-azul{
  background-color: #d9f6f6;
  border-color: #ade6e7;
}

.b-verde{
  background-color: rgb(203, 244, 196);
  border-color: rgb(149, 229, 155);
}

.b-amarillo{
  background-color: #ffefc4;
  border-color: #edd9a3;
}

.shadow{
  box-shadow: 0px -10px 20px 0px rgb(23 23 23 / 55%);
}

.content-wrapper-top{
  padding: 2vw 2vw 0 2vw;
}

.content-wrapper-mid{
  padding: 0 2vw;
}

.content-wrapper-bot{
  padding: 0 2vw 2vw 2vw;
}

.grid-w-gap{
  display: grid;
  grid-gap: 1vw;
}

.grid-item-wrap{
  border-radius: 20px;
  padding: 1vw;
}

.scroll-x{
  overflow-x: scroll;
}


