<div class="popup-menu" (busquedaEmitter)="filtrar($event)">
  <div>
    <input [formControl]="busqueda" type="text" placeholder="Buscar">
    <button (click)="borrarVecino(vecino)">D</button>
  </div>
  <form [formGroup]="vecinoForm" (ngSubmit)="enviar(vecinoForm.value)">
    <ng-container *ngFor="let vecino of testArray | filtroVecino:valorFiltrar"> <!-- todos los vecinos de la api -->
      <input formControlName="id" type="radio" value="{{vecino.vecino_id}}"> <!-- valor desde api-->
      <label>{{vecino.nombre}}</label> <!-- nombre desde api -->
    </ng-container>
    <button [disabled]="vecinoForm.invalid" type="submit">Listo</button>
  </form>
</div>
