<div style="width: 15vw; display: none;" class="popup-menu" (busquedaEmitter)="filtrar($event)" #menuVecino>
  <div>
    <input [formControl]="busqueda" type="text" placeholder="Buscar" style="width: -webkit-fill-available;">
    <button (click)="borrarVecino()">D</button>
  </div>
  <hr class="menu-hr">
  <form [formGroup]="vecinoForm" (ngSubmit)="enviar(vecinoForm.value, false)">
    <ng-container *ngFor="let vecino of testArray | filtroVecino:valorFiltrar"> <!-- todos los vecinos de la api -->
      <input formControlName="id" type="radio" value="{{vecino.vecino_id}}"> <!-- valor desde api-->
      <label>{{vecino.nombre}}</label> <!-- nombre desde api -->
    </ng-container>
    <hr class="menu-hr">
    <button [disabled]="vecinoForm.invalid" type="submit">Listo</button>
  </form>
</div>

<div class="popup-menu" style="width: 15vw; display: none;" #menuAmistad>
  <form [formGroup]="amistadForm" (ngSubmit)="enviar(amistadForm.value, true)">
    <input formControlName="amistad" type="radio" value="1">
    <input formControlName="amistad" type="radio" value="2">
    <input formControlName="amistad" type="radio" value="3">
    <input formControlName="amistad" type="radio" value="4">
    <input formControlName="amistad" type="radio" value="5">
    <input formControlName="amistad" type="radio" value="6">
    <hr class="menu-hr">
    <button [disabled]="amistadForm.invalid" type="submit">Listo</button>
  </form>
</div>
