<!-- Filtros búsqueda -->
<div class="content-wrapper-top" style="background-color: #d6fbd5;">
  <div style="margin-top: 4vw;">
    <h2>Catálogo de muebles</h2>
    <div class="flex-centered" style="padding-bottom: 1vw;">
      <div class="flex-centered" style="flex-wrap: wrap;flex-basis: 40vw; margin-right: 1.5vw;">
        <button *ngFor="let tipo of tiposMueble | keyvalue" (click)="activaFiltro(tipo.key)" [class]="this.botonFiltrar == tipo.key ? 'boton-alargado b-verde' : 'boton-alargado b-azul'" style="margin:0.5vw">{{tipo.value}}</button>
      </div>
      <input [formControl]="busqueda" type="text" placeholder="Buscar" style="width: 30%;">
    </div>
  </div>
</div>

<!-- Items -->
<div class="content-wrapper-bot">

  <!-- Paginacion arriba -->
  <div class="pag-menu flex-centered">
    <button [style.visibility]="page_number != 1 ? 'visible' : 'hidden'" class="boton-circular b-verde" (click)="page_number = this._pag.pagAtras(page_number)"> < </button>

    <ng-container *ngIf="this.getPaginas(listaItems | filtroAc:nameFilter).length < 31; else paginacionComprimida">
      <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter)">
        <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
      </ng-container>
    </ng-container>

    <ng-template #paginacionComprimida>
      <!-- Paginacion start -->
      <ng-container *ngIf="page_number < 11">
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter).slice(0, 11)">
          <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
        <button class="b-darkBlue b-pag">·</button>
        <button class="b-darkBlue b-pag">·</button>
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter).slice(this.getPaginas(listaItems | filtroAc:nameFilter).length - 2, this.getPaginas(listaItems | filtroAc:nameFilter).length)">
          <button class="b-darkBlue b-pag" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
      </ng-container>

      <!-- Paginacion mid -->
      <ng-container #mid *ngIf="10 < page_number && page_number < this.getPaginas(listaItems | filtroAc:nameFilter).length - 10">
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter).slice(0, 2)">
          <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
        <button class="b-darkBlue b-pag">·</button>
        <button class="b-darkBlue b-pag">·</button>
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter).slice(page_number-4, page_number+3)">
          <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
        <button class="b-darkBlue b-pag">·</button>
        <button class="b-darkBlue b-pag">·</button>
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter).slice(this.getPaginas(listaItems | filtroAc:nameFilter).length - 2, this.getPaginas(listaItems | filtroAc:nameFilter).length)">
          <button class="b-darkBlue b-pag" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
      </ng-container>

      <!-- Paginacion end -->
      <ng-container #midOfin *ngIf="this.getPaginas(listaItems | filtroAc:nameFilter).length - 11 < page_number">
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter).slice(0, 2)">
          <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
        <button class="b-darkBlue b-pag">·</button>
        <button class="b-darkBlue b-pag">·</button>
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter).slice(this.getPaginas(listaItems | filtroAc:nameFilter).length - 12, this.getPaginas(listaItems | filtroAc:nameFilter).length)">
          <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
      </ng-container>

    </ng-template>

    <button [style.visibility]="max_items < listaItems.length && page_number * max_items < (listaItems | filtroAc:nameFilter).length ? 'visible' : 'hidden'" class="boton-circular b-verde" (click)="page_number = this._pag.pagAlante(page_number, max_items, listaItems)"> > </button>
  </div>

  <!-- Grid -->
  <div class="grid-w-gap" style="margin: 1vw 0">
      <ng-container *ngFor="let item of listaItems | filtroAc:nameFilter | paginacion:page_number:max_items">
        <div class="grid-item-wrap flex-column-centered" style="justify-content: space-evenly;">
          <img [src]="getImage(item, 0)" style="width: 7vw; height: 7vw;" [id]='item.name.replace(" ", "")'>
          <span>{{item.translations.spanish | capitalize}}</span>

          <!-- Variaciones -->
          <div style="display: flex; width:13vw" [class]="item.variations.length < 4 ? 'flex-centered variMenu' : 'variMenu scroll-x'" *ngIf="item.variations != null">
            <ng-container *ngFor="let vari of item.variations">
              <button [class]="getImageElement(item).getAttribute('src') != vari.image ? 'b-variacion flex-centered b-lightGreen' : 'b-variacion flex-centered b-darkGreener'" (click)="getImgVariation(item, item.variations.indexOf(vari))">
                <img src="{{vari.image}}" style="width: 3vw;height: 3vw;margin:0.2vw">
              </button>
            </ng-container>
          </div>

        </div>
      </ng-container>
  </div>

  <!-- Paginacion abajo -->
  <div class="pag-menu flex-centered">
    <button [style.visibility]="page_number != 1 ? 'visible' : 'hidden'" class="boton-circular b-verde" (click)="page_number = this._pag.pagAtras(page_number)"> < </button>

    <ng-container *ngIf="this.getPaginas(listaItems | filtroAc:nameFilter).length < 31; else paginacionComprimida">
      <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter)">
        <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
      </ng-container>
    </ng-container>

    <ng-template #paginacionComprimida>
      <!-- Paginacion start -->
      <ng-container *ngIf="page_number < 11">
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter).slice(0, 11)">
          <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
        <button class="b-darkBlue b-pag">·</button>
        <button class="b-darkBlue b-pag">·</button>
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter).slice(this.getPaginas(listaItems | filtroAc:nameFilter).length - 2, this.getPaginas(listaItems | filtroAc:nameFilter).length)">
          <button class="b-darkBlue b-pag" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
      </ng-container>

      <!-- Paginacion mid -->
      <ng-container #mid *ngIf="10 < page_number && page_number < this.getPaginas(listaItems | filtroAc:nameFilter).length - 10">
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter).slice(0, 2)">
          <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
        <button class="b-darkBlue b-pag">·</button>
        <button class="b-darkBlue b-pag">·</button>
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter).slice(page_number-4, page_number+3)">
          <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
        <button class="b-darkBlue b-pag">·</button>
        <button class="b-darkBlue b-pag">·</button>
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter).slice(this.getPaginas(listaItems | filtroAc:nameFilter).length - 2, this.getPaginas(listaItems | filtroAc:nameFilter).length)">
          <button class="b-darkBlue b-pag" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
      </ng-container>

      <!-- Paginacion end -->
      <ng-container #midOfin *ngIf="this.getPaginas(listaItems | filtroAc:nameFilter).length - 11 < page_number">
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter).slice(0, 2)">
          <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
        <button class="b-darkBlue b-pag">·</button>
        <button class="b-darkBlue b-pag">·</button>
        <ng-container *ngFor="let pag of this.getPaginas(listaItems | filtroAc:nameFilter).slice(this.getPaginas(listaItems | filtroAc:nameFilter).length - 12, this.getPaginas(listaItems | filtroAc:nameFilter).length)">
          <button [class]="pag == page_number ? 'b-darkGreen b-pag' : 'b-darkBlue b-pag'" (click)="page_number = pag">{{pag}}</button>
        </ng-container>
      </ng-container>

    </ng-template>

    <button [style.visibility]="max_items < listaItems.length && page_number * max_items < (listaItems | filtroAc:nameFilter).length ? 'visible' : 'hidden'" class="boton-circular b-verde" (click)="page_number = this._pag.pagAlante(page_number, max_items, listaItems)"> > </button>
  </div>

</div>

