.padding-footer{
  padding-top: 4vw;
}

.background-img{
  background-image: url("../../assets/images/muelle-blur.png");
  height: unset;
}

.boton-circular{
  width: 1.5vw;
  height: 1.5vw;
  text-align: center;
  font-weight: bold;
}

.calendario-wrap{
  width: 80%;
  border-radius: 50px;
  background-color: green;
  margin-top: 1.5vw;
}

.cal-open-day-events{
  display: none;
}

.mes{
  text-align: center;
  width: 20%;
}
