.padding-footer{
  padding-top: 6vw;
}

.background-img{
  background-image: url("../../assets/images/muelle-blur.png");
  height: unset;
}

.boton-circular{
  width: 1.5vw;
  height: 1.5vw;
  text-align: center;
  font-weight: bold;
}

.calendario-wrap{
  width: 80%;
  border-radius: 50px;
  background-color: green;
  margin-top: 1.5vw;
}

.cal-open-day-events{
  display: none;
}

.mes{
  text-align: center;
  width: 20%;
}

.cal-event{
  width: 2.5rem !important;
  height: 2.5rem !important;
  background-color: unset !important;
  background-image: url("https://acnhcdn.com/latest/NpcIcon/duk03.png") !important;
  background-size: cover;
}

.cal-day-badge{
  display: none !important;
}
